@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="index" asp-controller="users" >Users</a></p>
    <p><a asp-action="index" asp-controller="events" asp-route-userId="1">Events</a></p>
</div>
